<div class="controls">
  <div class="export-buttons" >
    <button (click)="exportToCSV()" class="export-btn csv-btn">
      <span class="icon">📊</span>
      Exporter en CSV
    </button>
    <button (click)="exportToPDF()" class="export-btn pdf-btn">
      <span class="icon">📄</span>
      Exporter en PDF
    </button>
  </div>
</div>

@if (stadiums.length === 0) {
  <div class="empty-state">
    <p class="empty-message">
      There aren't existing stadiums.
    </p>
  </div>
} @else {
  <div #exportContent class="content-wrapper">
    <app-stadium-map [stadiums]="stadiums"></app-stadium-map>
    
    <div class="stadium-list">
      @for (stadium of stadiums; track stadium.id) {
        <app-stadium-item
          [stadium]="stadium"
          [isFirst]="stadium === stadiums[0]"
          (refreshStadiums)="refreshStadiums()">
        </app-stadium-item>
      }
    </div>
  </div>
}